@*
*@

@{
	ViewData["Title"] = "Course";
}
<h1>Course</h1>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Course Id</th>
				<th>Course Number</th>
				<th>Course Name</th>
				<th>Description</th>


			</tr>
		</thead>
		<tbody>
			@foreach (var course in Model.Courses)
				{
				<tr>
					<th scope="row">@course.CourseId</th>
					<td>@course.CourseNumber</td>
					<td onclick="showModal(course.CourseId)">@course.CourseName</td>
					<td>@course.Description</td>

				</tr>
				}
		</tbody>
	</table>


	@*Can not get this code to call student model*@

<div>
	@foreach (var course in Model.Courses)
	{
		<div class="course-student-modal-@course.CourseId">
			
		@*	@foreach (var Students in Model.Courses)
			{
				<p>A Student with the Id @Students </p>
				
			}*@
			<button onclick="ShowModal(@course.CourseId)">Close</button>

		 </div>
		
	}

</div>