@*
*@
@using System.Linq;
@{
	ViewData["Title"] = "Course";
}
<h1>Course</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Course Id</th>
				<th>Course Number</th>
				<th>Course Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var course in Model)
				{
				<tr>
					<th scope="row">@course.Id</th>
					<td>@course.CourseNumber</td>
					<td onclick ="showModal(@course.Id)">@course.CourseName</td>
					<td>@course.Description</td>

				</tr>
				}
		</tbody>
	</table>
<div>

	@foreach (var course in Model)
	{
		<div class="course-student-modal course-student-modal-@course.Id">

			<h3>@course.CourseName Students:</h3>
			
			@foreach (var Student in course.Students)
			{
				<p>A Student with the Id @Student.Id </p>
				
			}
			<button onclick="hideModal(@course.Id)">Close</button>

		 </div>
		
	}

</div>